* , * ::before ,* ::after {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body{
    padding: 0;
    margin: 0;
    background-image: url("bg.jpg");
    background : linear-gradient(to left,#AA55FF , #FF55AA);
}

.calc {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns:  repeat(8,50px);
    grid-template-rows: minmax(150px,auto) repeat(5,100px);

}
.calc > button{
    cursor: pointer;
    font-size: 2rem;
    color: rgb(70, 0, 70);
    background-color: rgba(255,255,255,.9);
    border: 1px solid #dc91e5;
    outline: none;
}

.calc > button:hover{
    background-color: rgba(255,255,255,1);
    color: rgb(120, 0, 120);
}
 
.display{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,.7);
    color : rgba(255,255,255,.9);
    word-wrap : break-word;
    word-break: break-all;
}
.pre-calc
{
    color : rgba(255,255,255,.6);
}
.curr-calc
{
    font-size: 3rem;
}
.btn
{
   grid-column: span 2;
}
.vertical {
    grid-row: span 2;
}
.narr {
    grid-column: span 1;
}
